
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>

    <title>About</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="~/Content/CustomStyle/css/linearicons.css">
    <link rel="stylesheet" href="~/Content/CustomStyle/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/CustomStyle/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/CustomStyle/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/CustomStyle/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/CustomStyle/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/CustomStyle/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/CustomStyle/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/CustomStyle/css/main.css">
</head>
<body>
    <header id="header">

        <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="@Url.Action("Index","Landingpage")"><img src="~/Content/CustomStyle/img/logo.png" alt="" title="" height="75" width="75" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a href="@Url.Action("Index","Landingpage")">Home</a></li>
                        <li><a href="@Url.Action("About","Landingpage")">About</a></li>
                        <li>
                            <a href="#"> Packages</a>
                            <ul>
                                <li><a href="@Url.Action("HajjPackage","Landingpage")">Hajj Package</a></li>
                                <li><a href="@Url.Action("UmrahPackage","Landingpage")">Umrah Package</a></li>
                            </ul>

                        </li>
                        <li><a href="@Url.Action("Hotels","Landingpage")">Hotels</a></li>
                        <li><a href="@Url.Action("Contact","Landingpage")">Contact</a></li>
                        <li><a href="@Url.Action("Login","Login")">Login</a></li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->
    <!-- start banner Area -->
    <section class="about-banner relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        About Us
                    </h1>
                    <p class="text-white link-nav"><a href="@Url.Action("Index","Landingpage")">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="@Url.Action("About","Landingpage")"> About Us</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- Start about-info Area -->
    <section class="about-info-area section-gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 info-left">
                    <img class="img-fluid" src="~/Content/CustomStyle/img/about/info-img.jpg" alt="">
                </div>
                <div class="col-lg-6 info-right">
                    <h6>About Us</h6>
                    <h1>Who We Are?</h1>
                    <p>
                        Caveman International Limited is a highly reviewed, award winning Hajj, Umrah and Ticketing Agency in Bangladesh. If you are planning to go for Hajj or Umrah, selecting CIL will ensure peace of mind and guaranteed satisfaction of your overall Hajj experience. Be 100% confident knowing that you are with the most experienced Hajj Agency in Bangladesh, an Agency that helped over 100,000 Hajj & Umrah Travelers over the past 10+ Years and won multiple achievement awards from the Saudi Government.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End about-info Area -->
    <!-- Start price Area -->
    <section class="price-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">We Provide Affordable Prices</h1>
                        <p>Well educated, intellectual people, especially scientists at all times demonstrate considerably.</p>
                    </div>
                </div>
            </div>
    </section>
    <!-- End price Area -->
    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Agency</h6>
                        <p>
                            The world has become so fast paced that people do not want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point
                        </p>
                    </div>
                </div>

                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Newsletter</h6>
                        <p>
                            For business professionals caught between high OEM price and mediocre print and graphic output.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget mail-chimp">
                        <h6 class="mb-20">InstaFeed</h6>
                        <ul class="instafeed d-flex flex-wrap">
                            <li><img src="~/Content/CustomStyle/img/i1.jpg" alt=""></li>
                            <li><img src="~/Content/CustomStyle/img/i2.jpg" alt=""></li>
                            <li><img src="~/Content/CustomStyle/img/i3.jpg" alt=""></li>
                            <li><img src="~/Content/CustomStyle/img/i4.jpg" alt=""></li>
                            <li><img src="~/Content/CustomStyle/img/i5.jpg" alt=""></li>
                            <li><img src="~/Content/CustomStyle/img/i6.jpg" alt=""></li>
                            <li><img src="~/Content/CustomStyle/img/i7.jpg" alt=""></li>
                            <li><img src="~/Content/CustomStyle/img/i8.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>

                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-sm-12 footer-text m-0">
                        &copy Copyright
                        <script>document.write(new Date().getFullYear());</script> All rights reserved by Caveman International Limited
                    </p>
                    <div class="col-lg-4 col-sm-12 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->
    <script src="~/Content/CustomStyle/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/Content/CustomStyle/js/popper.min.js"></script>
    <script src="~/Content/CustomStyle/js/vendor/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/Content/CustomStyle/js/jquery-ui.js"></script>
    <script src="~/Content/CustomStyle/js/easing.min.js"></script>
    <script src="~/Content/CustomStyle/js/hoverIntent.js"></script>
    <script src="~/Content/CustomStyle/js/superfish.min.js"></script>
    <script src="~/Content/CustomStyle/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/CustomStyle/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/CustomStyle/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/CustomStyle/js/owl.carousel.min.js"></script>
    <script src="~/Content/CustomStyle/js/mail-script.js"></script>
    <script src="~/Content/CustomStyle/js/main.js"></script>
</body>
</html>