
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>

    <title>Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="~/Content/CustomStyle/css/linearicons.css">
    <link rel="stylesheet" href="~/Content/CustomStyle/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/CustomStyle/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/CustomStyle/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/CustomStyle/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/CustomStyle/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/CustomStyle/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/CustomStyle/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/CustomStyle/css/main.css">
</head>
<body>
    <header id="header">
        <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="@Url.Action("Index","Landingpage")"><img src="~/Content/CustomStyle/img/logo.png" alt="" title="" height="75" width="75" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a href="@Url.Action("Index","Landingpage")">Home</a></li>
                        <li><a href="@Url.Action("About","Landingpage")">About</a></li>
                        <li>
                            <a href="#"> Packages</a>
                            <ul>
                                <li><a href="@Url.Action("HajjPackage","Landingpage")">Hajj Package</a></li>
                                <li><a href="@Url.Action("UmrahPackage","Landingpage")">Umrah Package</a></li>
                            </ul>

                        </li>
                        <li><a href="@Url.Action("Hotels","Landingpage")">Hotels</a></li>
                        <li><a href="@Url.Action("Contact","Landingpage")">Contact</a></li>
                        <li><a href="@Url.Action("Login","Login")">Login</a></li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->
    <!-- start banner Area -->
    <section class="relative about-banner">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Blog Details Page
                    </h1>
                    <p class="text-white link-nav"><a href="@Url.Action("Index","Landingpage")">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="@Url.Action("Blog","Landingpage")"> Blog Details Page</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- Start post-content Area -->
    <section class="post-content-area single-post-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img class="img-fluid" src="~/Content/CustomStyle/img/blog/feature-img1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <h3 class="mt-20 mb-20">Astronomy Binoculars A Great Alternative</h3>
                            <p class="excert">
                                By the Grace of Almighty Allah, JETWAY HAJJ GROUP has established as a front-runner in a relatively short time ( since 2009 ) in offering Hajj & Umrah packages.
                                Alhamdulillah, Our main concern has always been to remain fair and honest in all our dealings, delivering what we promise and combining professionalism with firm 
                                adherence to the Qur’an & Sunnah. We offering Hajj Package  & Umrah Hajj Package in Bangladesh at affordable price.
                            <p>
                                As a result of this, we find that the majority of people who travel with us do so based on recommendations from previous customers [Hajji’s]. We served happily a
                                large group of High Officials, Alhamdulillah, all of them are very happy about our service. To know more about us , you can visit Haji list & testimonials of this 
                                website, Even you can discuss with them before booking Hajj package.
                            </p>
                            <p>
                                We are specialized & country leading company for VIP 5 STAR HAJJ management at reasonable cost , Even we cater customized packages also to suit clients busy schedule.
                                Hajj trip accompanied by religious person (Mufti Maolana) to guide Hajj rituals & steps according to Qur’an & Sunnah. Skilled people appointed in Our Liaison offices 
                                in Holy Makkah & Madinah to ensure Quality of service. we are improving our efficiency gradually to ensure Higher level of comfort to our respected Hajis. Jetway Hajj
                                team consist of educated, experienced, skilled & dedicated young peoples to serve respected Guest of Allah(Hajji) properly 24/7. Each & every year we want to serve them
                                at Holy Makkah - Madinah -Arafa-Mudalifa & Jamara. Our aim is your complete satisfaction. We want your travel experience to be memorable in positive way. Our motivated
                                and skilled team is totally committed in providing a reliable, efficient service to the successful completion of every Hajj & umrah trip. We hope you find our web site
                                to be informative and helpful. We always offer the Hajj package in Bangladesh. if you interested please feel free to contact us any time. if you would like to take our
                                Hajj and Umrah Hajj package then booking now. Our dedicated team will help you how to quick process on time. May Allah Help us to perform our Hajj properly. Jazak Allah Khair
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- End post-content Area -->
    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Agency</h6>
                        <p>
                            The world has become so fast paced that people do not want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point
                        </p>
                    </div>
                </div>

                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Newsletter</h6>
                        <p>
                            For business professionals caught between high OEM price and mediocre print and graphic output.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget mail-chimp">
                        <h6 class="mb-20">InstaFeed</h6>
                        <ul class="instafeed d-flex flex-wrap">
                            <li><img src="~/Content/CustomStyle/img/i1.jpg" alt=""></li>
                            <li><img src="~/Content/CustomStyle/img/i2.jpg" alt=""></li>
                            <li><img src="~/Content/CustomStyle/img/i3.jpg" alt=""></li>
                            <li><img src="~/Content/CustomStyle/img/i4.jpg" alt=""></li>
                            <li><img src="~/Content/CustomStyle/img/i5.jpg" alt=""></li>
                            <li><img src="~/Content/CustomStyle/img/i6.jpg" alt=""></li>
                            <li><img src="~/Content/CustomStyle/img/i7.jpg" alt=""></li>
                            <li><img src="~/Content/CustomStyle/img/i8.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>

                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-sm-12 footer-text m-0">
                        &copy Copyright
                        <script>document.write(new Date().getFullYear());</script> All rights reserved by Caveman International Limited
                    </p>
                    <div class="col-lg-4 col-sm-12 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->
    <script src="~/Content/CustomStyle/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/Content/CustomStyle/js/popper.min.js"></script>
    <script src="~/Content/CustomStyle/js/vendor/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/Content/CustomStyle/js/jquery-ui.js"></script>
    <script src="~/Content/CustomStyle/js/easing.min.js"></script>
    <script src="~/Content/CustomStyle/js/hoverIntent.js"></script>
    <script src="~/Content/CustomStyle/js/superfish.min.js"></script>
    <script src="~/Content/CustomStyle/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/CustomStyle/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/CustomStyle/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/CustomStyle/js/owl.carousel.min.js"></script>
    <script src="~/Content/CustomStyle/js/mail-script.js"></script>
    <script src="~/Content/CustomStyle/js/main.js"></script>
</body>
</html>